DATABASE_URL="<DATABASE_URL>" 


# Application Config
PORT="<PORT>"
NODE_ENV="<NODE_ENV>"

# JWT Secret (REQUIRED - Generate a strong secret!)
JWT_SECRET="YOUR_STRONG_SECRET" 

# PgAdmin Config
PGADMIN_DEFAULT_EMAIL=<PGADMIN_DEFAULT_EMAIL>
PGADMIN_DEFAULT_PASSWORD=<PGADMIN_DEFAULT_PASSWORD>